@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659150495882') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuegao:before {
  content: "\e65a";
}

.icon-nailao:before {
  content: "\e65b";
}

